## Classifiers

In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv('dataset.csv', index_col=0)

In [33]:
df.head(25)

,user_id,tweets_count,followers_count,friends_count,has_name,has_image,has_address,has_bio,profile_has_url,present_in_list,friends_to_followers_ratio,label
0,3610511,3057,5470,2385,1,1,1,1,1,1,0.436015,1
1,5656162,3128,506,381,1,1,1,1,1,1,0.752964,1
2,5682702,3158,264,87,1,1,1,1,1,1,0.329545,1
3,6067292,3098,640,622,1,1,0,1,1,1,0.971875,1
4,6015122,2012,62,64,1,1,1,1,1,0,1.032258,1
5,6140012,3203,138,179,1,1,1,1,0,1,1.297101,1
6,6134312,1183,128,168,1,1,1,1,0,1,1.312500,1
7,6684602,3102,1062,1770,1,1,0,1,0,1,1.666667,1
8,7046912,3113,23368,958,1,1,1,1,1,1,0.040996,1
9,7470952,3186,760,712,1,1,1,1,0,1,0.936842,1
10,8072492,2754,477,218,1,1,1,1,1,1,0.457023,1
11,8291932,3127,1390,1177,1,1,1,1,1,1,0.846763,1
12,8858022,3103,314,338,1,1,1,1,0,1,1.076433,1
13,8927532,1437,97,203,1,1,1,1,1,1,2.092784,1
14,8933252,1716,289,1930,1,1,0,1,0,1,6.678201,1
15,9351052,400,93,78,1,1,1,1,1,1,0.838710,1
16,9564632,3066,2242,918,1,1,1,1,1,1,0.409456,1
17,9939012,3146,689,891,1,1,1,1,1,1,1.293179,1
18,9993142,2886,505,571,1,1,1,1,0,1,1.130693,1
19,10492262,770,81,181,1,1,1,1,0,1,2.234568,1
20,11176152,1436,128,371,1,1,1,1,0,1,2.898438,1
21,13260592,3130,899,305,1,1,1,1,1,1,0.339266,1
22,14057516,3087,375,1039,1,1,0,1,0,1,2.770667,1
23,14112759,157,46,146,1,1,1,1,1,0,3.173913,1
24,14492555,291,57,110,1,1,1,1,1,0,1.929825,1

## Feature selection

In [34]:
X = df.iloc[:,1:11]
y = df.iloc[:, -1]

X_real = X[:1950] 
y_real = y[:1950]

X_fake = X[1950:]
y_fake = y[1950:]

In [35]:
X_train_real, X_test_real, y_train_real, y_test_real = train_test_split(X_real, y_real, test_size=0.2)
X_train_fake, X_test_fake, y_train_fake, y_test_fake = train_test_split(X_fake, y_fake, test_size=0.2)

In [36]:
type(X_train_real)

pandas.core.frame.DataFrame

### Combine real and fake into train and test

In [37]:
frames = [X_train_real, X_train_fake]
X_train = pd.concat(frames)

frames = [y_train_real, y_train_fake]
y_train = pd.concat(frames)

In [38]:
frames = [X_test_real, X_test_fake]
X_test = pd.concat(frames)

frames = [y_test_real, y_test_fake]
y_test = pd.concat(frames)

## Applying classifiers

### 1. Random Forest

In [39]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
import numpy as np

clf = RandomForestClassifier(n_estimators = 100)   
clf.fit(X_train, y_train) 
y_pred = clf.predict(X_test) 

from sklearn import metrics   
print("Acc: ", metrics.accuracy_score(y_test, y_pred))

Acc:  0.9802073515551367

### 2. Decision Tree

In [40]:
import numpy as np 
import pandas as pd 
from sklearn.metrics import confusion_matrix 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
 
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

from sklearn import metrics   
print("Acc: ", metrics.accuracy_score(y_test, y_pred))

confusion_matrix(y_test, y_pred)

Acc:  0.9698397737983034

array([[652,  19],
       [ 13, 377]])

### 3. Adaboost

In [41]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

clf = AdaBoostClassifier(n_estimators=50, learning_rate=1)

# Train Adaboost Classifer
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

from sklearn import metrics   
print("Acc: ", metrics.accuracy_score(y_test, y_pred))

Acc:  0.9773798303487277

### 4. SVM

In [42]:
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

from sklearn import metrics   
print("Acc: ", metrics.accuracy_score(y_test, y_pred))

Acc:  0.9566446748350612